header {
  background-color: blue;
  padding: 10px;
  background-clip: content-box;
  border: 10px solid lightblue;
  color: white;
}
nav {
  background-color: orange;
  padding: 10px;
  background-clip: content-box;
  border: 10px solid lightblue;
  color: white;
}
main {
  background-color: lightgray;
  padding: 10px;
  background-clip: content-box;
  border: 10px solid lightblue;
  color: white;
}
section {
  background-color: yellow;
  padding: 10px;
  background-clip: content-box;
  border: 10px solid lightblue;
  color: white;
}
article {
  background-color: green;
  padding: 10px;
  background-clip: content-box;
  border: 10px solid lightblue;
  color: white;
}
aside {
  background-color: purple;
  padding: 10px;
  background-clip: content-box;
  border: 10px solid lightblue;
  color: white;
}
footer {
  background-color: #2c3e50;
  padding: 10px;
  background-clip: content-box;
  border: 10px solid lightblue;
  color: white;
}
